.navBar {
  background-color:transparent;
  position: absolute;
  z-index: 0;
}
.logo{
  color: black !important;
  font-weight: bolder;
}
.bg-link{
  align-items: center;
  background-image: url(../../assests/link_back.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;

}
.connect{
  background-image: url(../../assests/connect.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  font-size: 20px;
  font-weight: bolder;
  height: 40px;
}
.bg-social{
  margin-right: 20px;
  height: 35px;
  width: 35px;
}
.navLink {
  padding: 5px;
  color: #7d4b2a !important;
  width: 100px;
  margin-right: 1.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.navLink:hover {
  cursor: pointer;
}
.nav-btn-nav {
  background-color: transparent;
  color: #7d4b2a;
  border: 0px;
  text-decoration: none;
  border-radius: 3.2rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  /* line-height: 1; */
  text-transform: capitalize;
  letter-spacing: 0px;
  /* margin-right: 1rem; */
}
.nav-btn-nav:hover {
  /* background-color: black;
  color: white !important; */
}

.menu_Active {
  color: #3498db !important;
  border-bottom: 0.1rem solid #565387;
}

